# secrets
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
venv/
.venv/

# database (recreated by the seed on startup)
*.db
*.sqlite
*.sqlite3

# node / next
node_modules/
.next/
out/

# os / editor
.DS_Store
Thumbs.db
.vscode/